body {
    background-color: black;
    width: auto;
    margin: 0 auto;
}

table {
    margin: auto;
    font-size: 30px;
}

#image { /* I used AI here */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    background-color: transparent;
}

#d1 {
    width: 70%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    border: 5px solid darkgoldenrod;
    padding: 15px;
}

#d2{
    width: 70%;
    background-color: white;
    margin: 0 auto;
    height: auto;
    border: 5px solid darkgoldenrod;
    padding: 15px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
    color: darkgoldenrod;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin: auto;
    color: darkgoldenrod
}

h3 {
    margin: auto;
    font-size: 26px;
}

h4 {
    margin: auto;
    font-size: larger;
}

p {
    margin: 0 auto;
    font-size: 20px;

}

li {
    font-size: 20px;
}

hr {
    width: 90%;
}

img {
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    
}

footer {
    color: white;
    text-align: center;
    font-size: 20px;
}